@import '../../styles/colors.scss';

.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $background;

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    z-index: 2;
    background-color: transparent;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .rigthSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;

    .rightSideContainer {
      margin: 0 auto;
      width: 90%;
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: space-between;
      height: 95%;

      .numbersSection {
        inset: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        width: 100%;
        position: absolute;
        height: auto;

        .numbersAlign {
          grid-area: 2 / span 3;
          display: grid;
          align-items: center;
          justify-content: center;
          position: relative;
          grid-template-columns: repeat(5, 1fr);
        }
      }
      .footer {
        text-align: start;
        align-items: center;
        display: flex;
        justify-content: center;
        > p {
          word-break: break-all;
        }
      }
    }
  }
}
